# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual Environments
venv/
.venv/
env/
ENV/

# Django
/media/
/static/
/staticfiles/
*.log

# Production
/logs/
/backups/

# Tests
.pytest_cache/
.coverage

# IDE/Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Secrets/Env
.env